* {
    margin: 0;
    padding: 0;
}

body {
    
    background-size: cover;
}


.containerr{
    height: 150vh;
    background: black;
}

.container{ 
    color: #b62222;
    position: absolute;
    top: 4%;
    left: 40%; 
}


.container1 {
    background-color:#0c0b0b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input {
    margin-bottom: 20px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.container h1{
    font-family: 'Heebo', sans-serif;
    width: 50%;
    display: inline-block;
    font-size: 40px;
    border-bottom: 5px solid purple;
    margin-bottom: 15px;
    padding: 13px 0;
}

.box{
    width: 100%; 
    margin: 22px 0px;
    border-bottom: 2px solid purple;
}


.box input{  
    background: none;
    width: 75%;
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    outline:none;
    color: rgb(64, 56, 56);
}


.btn{
    color:#b61d1d;
    cursor: pointer;
    outline: none; 
    margin: 12px 0;
    padding: 10px 21px;
    border: 2px solid purple;
    border-radius: 10px;
    font-size: 18px;
    background: none;
    font-weight: bold;
    
}

.box i{ 
    width: 25px; 
    text-align: center;
}

.btn:hover{
    opacity: 0.5;
    color: purple; 
    background: white; 
    
}